body {
    margin: 0%;
    padding: 0%;
    font-family: 'Nunito Sans', sans-serif;
}
.g-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
}

* {
    box-sizing: border-box;
}

/* insted of marquee tag I've used that css animation style */

div.offer p {
    display: inline;
    width: 100px;
    height: 100px;
    position: relative;
    animation: mymove 6s infinite;
    transition: 2s;
}

@keyframes mymove {
    from {
        left: 0px;
    }
    to {
        left: 600px;
    }
}

div.offer {
    align-items: flex-end;
    padding: 6px;
    color: white;
    background-color: red;
}

.offer p {
    position: fixed;
}

mark {
    background-color: yellow;
}

#home {
    display: flex;
    justify-content: space-between;
    background-color: #4c4c4c;
    align-items: center;
}

#home img {
    height: 40px;
    background-color: #4c4c4c;
    margin: 0px;
}

#home ul li {
    list-style-type: none;
    display: inline;
    padding: 6px;
    color: #c4c4c4;
    background-color: #4c4c4c;
}

#home a {
    text-decoration: none;
}

#home ul {
    display: flex;
    flex: 1;
    width: 100%;
    margin: 0;
    padding: 0;
}

section {
    background-image: url("images/floral.png");
}

.join-btn {
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #f08d97;
}

.join-btn h1 {
    font-size: 50px;
    font-family: 'Josefin Sans', sans-serif;
}

.join-btn p {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    padding: 30px;
    text-align: center;
    flex-wrap: wrap;
    font-size: 20px;
}

.join-btn button {
    background-color: black;
    border: none;
    color: #f08d97;
    font-size: large;
    padding: 30px 60px;
    letter-spacing: 2px;
    margin-top: 20px;
}

.services {
    font-size: 20px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #efece7;
}

.services h2 {
    font-size: 40px;
    font-family: 'Pacifico', cursive;
}

.services figure {
    padding: 20px;
    text-align: center;
    margin-top: 0;
}

.services i {
    justify-content: center;
    font-size: 150px;
}

.services h1 {
    font-size: 30px;
    margin-bottom: 0;
}

#contact {
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #afc7c6;
}

#contact h1 {
    font-family: 'Pacifico', cursive;
}

.social-media i {
    font-size: 25px;
    border: 1px solid black;
    padding: 15px;
    border-radius: 76px;
}

.social-media i:hover {
    background-color: black;
    color: rgb(248, 231, 188);
    transition: 0.5s ease;
}

footer {
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
}

footer:hover i {
    color: #f5384a;
    transition: 0.5s ease;
}

.services figure:hover i {
    color: #f5384a;
    transition: 0.5s ease;
}

.portfolio {
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #ddceb4;
}

.portfolio h2 {
    font-family: 'pacifico', cursive;
    font-size: 2em;
}

.portfolio p {
    font-weight: bold;
    border-top: 1px solid;
    border-bottom: 1px solid;
    padding: 20px;
    text-align: center;
}

.projects {
    padding: 20px;
    text-align: center;
    flex-wrap: wrap;
    display: flex;
}

.portfolio figcaption {
    position: absolute;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 15px;
    display: none;
}

.portfolio figure {
    position: relative;
    border-radius: 15px;
    width: 400px;
    margin: 10px;
    height: 250px;
    background-size: cover;
}

#view-part {
    display: flex;
}

.portfolio figure#locations {
    background-image: url(images/projects/p-1.png);
}

.portfolio figure#reachout {
    background-image: url(images/projects/p-2.png);
}

.portfolio figure#olx {
    background-image: url(images/projects/p-3.png);
}

.portfolio figure#collection {
    background-image: url(images/projects/p-4.png);
}

.portfolio figure#tv-plus {
    background-image: url(images/projects/p-5.png);
}

.portfolio figure#bata {
    background-image: url(images/projects/p-6.png);
}

.projects figcaption i {
    border: 1px solid white;
    border-radius: 50%;
    padding: 8px;
    margin: 5px;
    margin-bottom: 20px;
    color: white;
}

.projects figcaption h4 {
    margin-bottom: 8px;
    color: white;
}

.portfolio figure:hover figcaption {
    display: block;
    opacity: 1;
    transition: 0.5s;
}

@media screen and (max-width:650px) {
    .g-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}
